{% extends "base.html" %}

{% block title %}
500 - Internal Server Error
{% endblock %}

{% block head %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/error.css') }}"
>

{% endblock %}


{% block content %}

<div class="error-page">

    <div class="error-card">

        <div class="error-number">
            500
        </div>

        <h1>
            Internal Server Error
        </h1>

        <p>
            Something went wrong. Please try again later.
        </p>

        <a
            href="{{ url_for('home') }}"
            class="back-home-btn"
        >
            ← Back to Home
        </a>

    </div>

</div>

{% endblock %}