{% extends "base.html" %}

{% block title %}
Create Task - TaskFlow
{% endblock %}

{% block content %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/create-task.css') }}"
>

<div class="create-task-container">

    <h1>Create New Task</h1>

    <form method="POST" class="create-task-form">
        <input type="hidden" name="csrf_token"  value="{{csrf_token()}}">

        <label for="title">Task Title:</label>

        <input
            type="text"
            id="title"
            name="title"
            required
        >


        <label for="description">Description:</label>

        <textarea
            id="description"
            name="description"
        ></textarea>


        <label for="status">Status:</label>

        <select id="status" name="status">

            <option value="pending">
                Pending
            </option>

            <option value="in_progress">
                In Progress
            </option>

            <option value="completed">
                Completed
            </option>

        </select>


        <label for="priority">Priority:</label>

        <select id="priority" name="priority">

            <option value="low">
                Low
            </option>

            <option value="medium" selected>
                Medium
            </option>

            <option value="high">
                High
            </option>

        </select>


        <label for="due_date">Due Date:</label>

        <input
            type="date"
            id="due_date"
            name="due_date"
            
        >



        <button type="submit">
            Create Task
        </button>

    </form>

</div>

{% endblock %}